@model ChoNongSan.ViewModels.Requests.TaiKhoan.KhachHang.ForgetPasswordRequest

@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}
<style>
    a:hover {
        color: #40aa54
    }

    button:hover {
        border: none
    }
</style>

<form asp-action="ForgotPassword" method="post" style="margin:30px 0 58px 0">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="login-form">
        <h2 class="login-title p-0">Quên mật khẩu</h2>
        <hr />
        <div class="row d-flex">
            <div class="col-lg-12 mt-6">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="rounded form-control" placeholder="Nhập email đã đăng ký" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-12 mt-4 d-flex">
                <div class="row m-auto">
                    <div class="col-6 row text-center m-0">
                        <span>Đã có tài khoản?</span>
                        <a href="/User/Login">Đăng nhập</a>
                    </div>
                    <div class="col-6 row text-center m-0">
                        <span>Chưa có tài khoản?</span>
                        <a href="/User/Register">Đăng ký</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 mt-7 d-flex">
                <button style="background-color: #40aa54" class="mx-auto btn btn-custom-size lg-size btn-secondary-hover rounded">Gửi</button>
            </div>
        </div>
    </div>
</form>