@using System.Globalization;

@{
	ViewData["Title"] = "Số dư tài khoản";
	Layout = "~/Views/Shared/_Layout.cshtml";
	decimal sodu = ViewBag.SoDu;
}

<style>
	div.col-12.col-lg-6 a:hover {
		color: #40AA54;
	}
</style>
<div class="product-area section-space-top-100 pb-10">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<input hidden id="accountId" value="@ViewBag.AccountId" />
			<div class="col-12" style="background-color:#f1f1f1">
				<h4 class="my-2 text-uppercase" style="font-family: Arial, sans-serif">Số dư tài khoản</h4>
			</div>
			<div class="my-3">
				<div class="col-lg-12 d-flex align-items-center justify-content-between rounded" style="border: 2px solid #f1f1f1">
					<div class="d-flex align-items-center mb-2">

						<img class="ms-3 rounded-circle" src="~/assetsKH/icon/icon-vnd.png" style="width:55px; height:55px" />
						<div class="ms-3 ">
							<p class="mt-2 mb-0">Số dư tài khoản</p>
							<b class="font-size-20 mb-1">@(sodu.ToString("C0", CultureInfo.GetCultureInfo("vi-VN")))</b>
						</div>
					</div>
					<a class="d-flex align-items-center me-2" href="/User/LichSuNapTien">
						<span>Xem lịch sử nạp tiền</span>
						<i class="ms-2 fa fa-chevron-right"></i>
					</a>
				</div>
			</div>
			<div class="col-12" style="background-color:#f1f1f1">
				<h4 class="my-2 text-uppercase" style="font-family: Arial, sans-serif">Nạp tiền tài khoản</h4>
			</div>
			<div class="mt-lg-10 mt-5 col-12 row d-flex align-items-center" style="flex-direction:column">
				<div class="col-12 col-lg-6">
					<a href="javascript:void(0)" id="500000" class="btnNapTien">
						<div class="rounded row" style="border: 2px solid #f1f1f1">
							<div class="my-3 col-lg-6 my-lg-3 d-flex justify-content-lg-center align-items-lg-center">
								<label class="label-checkbox mb-0 ms-8 me-lg-1 ms-lg-10 me-2">
									Nạp 500,000
								</label>
								<img style="height:30px; width:30px" class="rounded-circle ms-lg-2" src="~/assetsKH/icon/icon-vnd-black.jpg" />
							</div>
							<div class="mb-2 mb-lg-0 col-lg-6 d-inline-flex align-items-center">
								<label class="label-checkbox mb-0 ms-5">
									Giá: 500,000 VNĐ
								</label>
								<i class="ms-3 fa fa-chevron-right"></i>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" id="200000" class="btnNapTien">
						<div class="rounded row" style="border: 2px solid #f1f1f1">
							<div class="my-3 col-lg-6 my-lg-3 d-flex justify-content-lg-center align-items-lg-center">
								<label class="label-checkbox mb-0 ms-8 me-lg-1 ms-lg-10 me-2">
									Nạp 200,000
								</label>
								<img style="height:30px; width:30px" class="rounded-circle ms-lg-2" src="~/assetsKH/icon/icon-vnd-black.jpg" />
							</div>
							<div class="mb-2 mb-lg-0 col-lg-6 d-inline-flex align-items-center">
								<label class="label-checkbox mb-0 ms-5">
									Giá: 200,000 VNĐ
								</label>
								<i class="ms-3 fa fa-chevron-right"></i>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" id="100000" class="btnNapTien">
						<div class="rounded row" style="border: 2px solid #f1f1f1">
							<div class="my-3 col-lg-6 my-lg-3 d-flex justify-content-lg-center align-items-lg-center">
								<label class="label-checkbox mb-0 ms-8 me-lg-1 ms-lg-10 me-2">
									Nạp 100,000
								</label>
								<img style="height:30px; width:30px" class="rounded-circle ms-lg-2" src="~/assetsKH/icon/icon-vnd-black.jpg" />
							</div>
							<div class="mb-2 mb-lg-0 col-lg-6 d-inline-flex align-items-center">
								<label class="label-checkbox mb-0 ms-5">
									Giá: 100,000 VNĐ
								</label>
								<i class="ms-3 fa fa-chevron-right"></i>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" id="50000" class="btnNapTien">
						<div class="rounded row" style="border: 2px solid #f1f1f1">
							<div class="my-3 col-lg-6 my-lg-3 d-flex justify-content-lg-center align-items-lg-center">
								<label class="label-checkbox mb-0 ms-8 me-lg-1 ms-lg-10 me-2">
									Nạp 50,000
								</label>
								<img style="height:30px; width:30px" class="rounded-circle ms-lg-2" src="~/assetsKH/icon/icon-vnd-black.jpg" />
							</div>
							<div class="mb-2 mb-lg-0 col-lg-6 d-inline-flex align-items-center">
								<label class="label-checkbox mb-0 ms-5">
									Giá: 50,000 VNĐ
								</label>
								<i class="ms-3 fa fa-chevron-right"></i>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" id="20000" class="btnNapTien">
						<div class="rounded row" style="border: 2px solid #f1f1f1">
							<div class="my-3 col-lg-6 my-lg-3 d-flex justify-content-lg-center align-items-lg-center">
								<label class="label-checkbox mb-0 ms-8 me-lg-1 ms-lg-10 me-2">
									Nạp 20,000
								</label>
								<img style="height:30px; width:30px" class="rounded-circle ms-lg-2" src="~/assetsKH/icon/icon-vnd-black.jpg" />
							</div>
							<div class="mb-2 mb-lg-0 col-lg-6 d-inline-flex align-items-center">
								<label class="label-checkbox mb-0 ms-5">
									Giá: 20,000 VNĐ
								</label>
								<i class="ms-3 fa fa-chevron-right"></i>
							</div>
						</div>
					</a>
				</div>
				<div class="col-12 col-lg-6">
					<button type="button" class="d-flex mx-auto mt-10 btn btn-primary" style="background-color:#40AA54" data-toggle="modal" data-target="#exampleModal2">
						Xác nhận nạp tiền
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title chucuatoi" id="exampleModalLabel">Xác nhận nạp tiền</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group mb-3">
					<label>Số tiền</label>
					<input id="sotien" type="number" class="form-control" placeholder="Nhập số tiền đã nạp">
				</div>
				<div class="form-group mb-3">
					<label for="exampleInputPassword1">Cách nạp</label>
					<select id="cachnap" class="form-control nice-select wide float-none">
						<option disabled selected value="">Chọn Cách nạp</option>
						<option value="SMS">SMS</option>
						<option value="CK">Chuyển khoản</option>
					</select>
				</div>
				<div class="form-group mb-3">
					<label for="exampleInputPassword1">Ảnh kết quả</label>
					<input type="file" class="form-control" id="anhnaptien">
					<img hidden id="anhnap" class="h-100 py-3" src="" style="width:100%" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				<button type="button" id="btnXNNapTien" style="background-color:#40AA54" class="btn btn-primary">Gửi</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Hướng dẫn nạp tiền</h5>
				<button type="button" class="close dong" style="" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h4 class="chucuatoi">Cách 1: Chuyển khoản ngân hàng</h4>
				<span>Ngân hàng: <b class="chucuatoi">Vietcombank</b></span> <br />
				<span>Số tài khoản: <b class="chucuatoi">0966***788</b></span><br />
				<span>Tên người nhận: <b class="chucuatoi">ChoNongSan</b></span><br />
				<span>Số tiền: <b class="chucuatoi sotien1"></b></span><br />
				<span>Nội dung: <b class="chucuatoi sotien2"></b></span><br />
				<br />
				<p><span class="text-danger">*Lưu ý: </span>SoDienThoai phải là số đã đăng ký tài khoản.</p>
				<br />
				<h4 class="chucuatoi">Cách 2: Nạp qua Tin nhắn (SMS)</h4>
				<span>Cú pháp: <b class="chucuatoi sotien2"></b></span>
				<span>Gửi: <b class="chucuatoi">0966***788</b></span>
				<br /><br />
				<p><span class="text-danger">*Lưu ý: </span>SoDienThoai phải là số đã đăng ký tài khoản.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary dong" data-dismiss="modal">Đã hiểu</button>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script type="text/javascript">

		$(document).ready(function () {
			var anh = null;
			$('#anhnaptien').change(function (ev) {
				anh = ev.target.files[0];
				document.getElementById('anhnap').removeAttribute('hidden');
				document.getElementById('anhnap').src = URL.createObjectURL(ev.target.files[0]);
			});
			$('#btnXNNapTien').click(function () {
				var acId = $('#accountId').val();
				var sotien = $('#sotien').val();
				var cachnap = $('#cachnap').val();
				var anhnaptien = $('#anhnaptien').val();
				if (sotien.trim() == "") {
					alert("Vui lòng nhập số tiền");
					return;
				}
				if (sotien < 20000) {
					alert("Số tiền đã nộp phải lớn hoặc bằng 20.000 Vnđ");
					return;
				}
				if (cachnap == null) {
					alert("Vui lòng chọn cách nạp");
					return;
				}

				if (anhnaptien == "") {
					alert("Vui lòng chọn ảnh kết quả giao dịch thành công");
					return;
				}

				
				var data = new FormData();
				data.append("Anhnaptien", anh);
				data.append("Sotien", sotien);
				data.append("Cachnap",cachnap);
				data.append("AccountId",acId);
				data.append("Role",3);

				document.getElementById("btnXNNapTien").type = 'submit';

				$.ajax({
					type: "POST",
                    url: '@Url.Action("XacNhanNapTien", "User")',
					contentType: false,
                    processData: false,
					data: data,
                    //dataType: 'json',
					success: function (result) {
						output = JSON.parse(result);
						if (output.status == "OK") {
							window.location = "/User/SoDuTaiKhoan";
						} else {
							alert(output.message);
						}

                    }
				});
			});

			$('.btnNapTien').click(function () {
				$('.sotien2').text("NapTien_SoDienThoai_" + this.id);
				$('.sotien1').text(this.id);
				$('#staticBackdrop').modal('show');

			});
			$('.dong').click(function () {
				$('#staticBackdrop').modal('hide');
			});
		});
	</script>
}