@model ChoNongSan.ViewModels.Requests.Admin.ManagementCategory.CreateCatRequest

@{
    ViewData["Title"] = "Thêm danh mục";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";}

<h1 style="margin-left:50px">Thêm danh mục</h1>

<div class="row" style=" margin-top:30px">
    <div class="col-md-6" style="margin-left:60px">
        @if (@TempData["ALertMessage"] != null)
        {
            <div class="alert alert-success" style="text-align:center">
                <h3>@TempData["ALertMessage"]</h3>
            </div>
        }
        <form asp-controller="MgtCat" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span style="color:red">*</span>
                <label asp-for="CatName" class="control-label"></label>
                <input asp-for="CatName" class="form-control" />
                <span asp-validation-for="CatName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Tạo</button>
            </div>
        </form>
    </div>
</div>