@model ChoNongSan.ViewModels.Requests.Admin.ManagementCategory.UpdateCatRequest

@{
    ViewData["Title"] = "Xóa danh mục";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";}

<h1>Xóa danh mục</h1>

<h3>Bạn có chắc chắn muốn xóa danh mục này không?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="CatID" type="hidden" />
        <a asp-action="Index" class="btn btn-default" style="margin-right: 20px; ">Quay lại</a> |
        <input value="Xóa" style="margin-left:20px" type="submit" class="btn btn-danger">
    </form>
</div>