@model ChoNongSan.ViewModels.Requests.DanhMuc.UpdateCatRequest

@{
    ViewData["Title"] = "Chỉnh sửa danh mục";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chỉnh sửa danh mục</h1>

<div class="row" style=" margin-top:30px">
    <div class="col-md-6" style="margin-left:60px">
        @if (@TempData["ALertMessage"] != null)
        {
            <div class="alert alert-success" style="text-align:center">
                <h3>@TempData["ALertMessage"]</h3>
            </div>
        }
        <form asp-controller="MgtCat" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="CatID" class="control-label"></label>
                <input asp-for="CatID" class="form-control" />
                <span asp-validation-for="CatID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatName" class="control-label"></label>
                <input asp-for="CatName" class="form-control" />
                <span asp-validation-for="CatName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <a asp-action="Index" class="btn btn-default" style="margin-right: 20px">Quay lại</a> <h2>|</h2>
                <input type="submit" value="Lưu" class="btn btn-success" style="margin-left:20px; width:75px" />
            </div>
        </form>
    </div>
</div>