@model ChoNongSan.ViewModels.Requests.DanhMuc.UpdateCatRequest

@{
    ViewData["Title"] = "Chỉnh sửa danh mục";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6 col-12 mx-auto">
    <h1 class="mb-0">Chỉnh sửa danh mục</h1>
    <hr class="mt-1 mb-5 border-dark" />
    @if (@TempData["ALertMessage"] != null)
    {
        <div class="alert alert-success" style="text-align:center">
            <h3>@TempData["ALertMessage"]</h3>
        </div>
    }
<form asp-controller="MgtCat" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group" hidden>
        <label asp-for="CatID" class="control-label"></label>
        <input asp-for="CatID" class="form-control" />
        <span asp-validation-for="CatID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CatName" class="control-label"></label>
        <input asp-for="CatName" readonly class="form-control" />
        <span asp-validation-for="CatName" class="text-danger"></span>
    </div>
    <div class="form-group d-flex align-items-center" style="flex-direction:column">
        <img id="image" class="img-fluid rounded img-thumbnail" src="@ViewBag.Img" alt="Ảnh danh mục" style="width:200px; height:200px" />
        <div class="mt-3">
            <span style="color:red">*</span>
            <label asp-for="Image" style="margin-right:15px" class="control-label"></label>
            <input type="button" class=" btn btn-dark px-3 py-2" value="Chọn ảnh" onclick="document.getElementById('input_img').click();" />
        </div>

        <input id="input_img" onchange="loadFile(event)" asp-for="Image" class="d-none form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <div class="d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-default">Quay lại</a>
            <input type="submit" value="Lưu" class="btn btn-success" />
        </div>
    </div>
</form>
</div>



@section Scripts{
    <script type="text/javascript">

        //load ảnh
        var loadFile = function (event) {
            var lent = event.target.files.length;
            if (lent != 0) {
                document.getElementById('image').src = URL.createObjectURL(event.target.files[0]);
            }
        };
    </script>
}