@model ChoNongSan.ViewModels.Requests.DonVi.UpdateWeightRequest

@{
    ViewData["Title"] = "Cập nhật đơn vị";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";}


<div class="col-md-6 col-12 mx-auto">
    <h1 class="mb-0">Chỉnh sửa đơn vị</h1>
    <hr class="mt-1 mb-5 border-dark" />
    @if (@TempData["ALertMessage"] != null)
    {
        <div class="alert alert-success" style="text-align:center">
            <h3>@TempData["ALertMessage"]</h3>
        </div>
    }
    <form asp-controller="MgtWeight" asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" hidden>
            <label asp-for="WeightId" class="control-label"></label>
            <input asp-for="WeightId" class="form-control" />
            <span asp-validation-for="WeightId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="WeightName" class="control-label"></label>
            <input asp-for="WeightName" class="form-control" />
            <span asp-validation-for="WeightName" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <div class="d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-default">Quay lại</a>
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>

