@using ChoNongSan.ViewModels.Common
@using ChoNongSan.ViewModels.Responses

@model PageResult<PostVmTongQuat>

<h4 class="heading mt-3">Tin đang hiển thị</h4>
<hr />
@if (Model.TotalRecords == 0)
{
    <div style="display:flex" class="meta">
        <h3 style="margin:auto">
            <strong style="color:red">Không có tin nào trong mục này</strong>
        </h3>
    </div>
}
else
{
    @foreach (var item in Model.Items)
    {
        <div class="col-12 pt-6">
            <div class="product-item">
                <div class="product-img img-zoom-effect my-auto" >
                    <a href="single-product.html">
                        <img class="img-full img-thumbnail rounded " style="width:215px; height:240px" src="@item.ImageDefault" alt="Product Images">
                    </a>
                </div>
                <div class="product-content align-self-center">
                    <a class="product-name pb-2" href="single-product.html">Dried Lemon Green</a>
                    <div class="price-box pb-1">
                        <span class="new-price">@(item.Price.Value.ToString("N0") +" VNĐ")</span>
                    </div>
                    <div class="rating-box pb-2">
                        <ul>
                            <li><i class="pe-7s-star"></i></li>
                            <li><i class="pe-7s-star"></i></li>
                            <li><i class="pe-7s-star"></i></li>
                            <li><i class="pe-7s-star"></i></li>
                            <li><i class="pe-7s-star"></i></li>
                        </ul>
                    </div>
                    <p class="short-desc mb-0">
                        @item.TimePost.Value.ToString("hh:mm dd/MM/yyyy")
                    </p>
                </div>
            </div>
        </div>
    }
}

<div style="display: flex" class="mt-6">
    <div style="margin:auto">
        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>