@using System.Linq;
@using System.Security.Claims;
@{
    var avatar = User.Claims.Where(x => x.Type == ClaimTypes.Thumbprint)
                .Select(c => c.Value).SingleOrDefault();

    var userName = User.Identity.Name;
    if (String.IsNullOrEmpty(avatar)) { avatar = "/assetsKH/images/avatar-null.png"; }
    if (String.IsNullOrEmpty(userName)) { userName = "Tài khoản"; }
}

<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Khách hàng</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assetsKH/images/logo.png" />

    <!-- CSS
    ============================================ -->
    <!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
    <link rel="stylesheet" href="~/assetsKH/css/vendor/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assetsKH/css/vendor/Pe-icon-7-stroke.css" />

    <!-- Plugin CSS (Global Plugins Files) -->
    <link rel="stylesheet" href="~/assetsKH/css/plugins/animate.min.css">
    <link rel="stylesheet" href="~/assetsKH/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assetsKH/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/assetsKH/css/plugins/nice-select.css">
    <link rel="stylesheet" href="~/assetsKH/css/plugins/magnific-popup.min.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assetsKH/css/style.css">
</head>

<body>

    <div class="main-wrapper">

        <!-- Begin Main Header Area -->
        <header class="main-header_area position-relative">

            <div class="header-middle py-5">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="header-middle-wrap">
                                <a href="/Home/Index" class="header-logo">
                                    <img style="height:33px; width:33px" src="~/assetsKH/images/logo.png" alt="Header Logo">
                                    <h3 class="d-none d-sm-block" style="height:100%; width:100%;margin:5px 0 0 10px">ChoNongSan</h3>
                                </a>
                                <div class="d-none d-lg-block" style="width:auto">
                                    <form action="#" class="header-searchbox">
                                        <input class="input-field" type="text" placeholder="Search Products">
                                        <button class="btn btn-outline-whisper btn-primary-hover" type="submit"><i class="pe-7s-search"></i></button>
                                    </form>
                                </div>
                                <div class="header-right">
                                    <ul>
                                        <li class="d-block d-lg-none" style="padding-right:10px">
                                            <a href="#searchBar" class="search-btn toolbar-btn">
                                                <i class="pe-7s-search"></i>
                                            </a>
                                        </li>
                                        <li class="dropdown " style="padding-right:10px">
                                            <button class="d-flex align-items-center btn btn-link dropdown-toggle ht-btn p-0" style="width:auto" type="button" id="settingButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                <img class="rounded-circle img-thumbnail" style="height: 40px; width: 40px; " src="@avatar" />

                                                <h5 class=" d-none d-lg-block" style=" margin:0;padding-left:15px;font-family: Arial">@userName</h5>
                                            </button>

                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButton">
                                                @if (!String.IsNullOrEmpty(User.Identity.Name))
                                                {
                                                    <li><a class="dropdown-item" href="/User/Profile">Quản lý tài khoản</a></li>
                                                    <li>
                                                        <form asp-controller="User" asp-action="Logout" method="post">
                                                            <input type="submit" class="dropdown-item" value="Đăng xuất" />
                                                        </form>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li><a class="dropdown-item" href="/User/Login">Đăng nhập</a></li>
                                                    <li><a class="dropdown-item" href="/User/Register">Đăng ký</a></li>
                                                }
                                            </ul>
                                        </li>
                                        @if (!String.IsNullOrEmpty(User.Identity.Name))
                                        {
                                            <li class="d-none d-lg-block">
                                                <a style="margin-left:15px; padding-left:15px;border-left: 3px solid #000000" class="d-flex align-items-center" href="/QuanLyTinDang/TaoMoi">
                                                    <img style="height: 35px; width: 35px" src="~/assetsKH/icon/icon-writing.png" />
                                                    <h5 style="margin:0 0 0 10px">Đăng tin</h5>
                                                </a>
                                            </li>

                                        }
                                        <li class="mobile-menu_wrap d-block d-lg-none">
                                            <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                                                <i class="pe-7s-menu"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-header header-sticky " data-bg-color="#40AA54">
                <div class="container">
                    <div class="main-header_nav position-relative">
                        <div class="row align-items-center">
                            <div class="col-lg-12 d-none d-sm-block">
                                <div class="main-menu">
                                    <nav class="main-nav">
                                        <ul>
                                            <li class="drop-holder">
                                                <a href="/Home">
                                                    <img src="~/assetsKH/images/icons/icon-home.jpg" style="height:25px; width:25px" />
                                                    Trang chủ  |
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/QuanLyTinDang">
                                                    Quản lý bài đăng  |
                                                </a>
                                            </li>
                                            <li class="megamenu-holder">
                                                <a href="javascript:void(0)">
                                                    Yêu thích  |
                                                </a>
                                            </li>
                                            <li class="drop-holder">
                                                <a href="javascript:void(0)">
                                                    Liên hệ
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu_wrapper" id="mobileMenu">
                <div class="harmic-offcanvas-body w-auto">
                    <div class="inner-body">
                        <div class="harmic-offcanvas-top">
                            <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                        </div>
                        <div class="offcanvas-menu_area">
                            <nav class="offcanvas-navigation">
                                <ul class="mobile-menu">
                                    <li>
                                        <a class="d-flex align-items-center" href="/Home">
                                            <img style="width:20px" src="~/assetsKH/icon/icon-home.jpg" />
                                            <span style="margin-left: 10px" class="mm-text">
                                                Trang chủ
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex align-items-center" href="/QuanLyTinDang">
                                            <img style="width: 20px; height: 20px" src="~/assetsKH/icon/icon-mgt-post-removebg.png" />
                                            <span style="margin-left: 10px;" class="mm-text">Quản lý bài đăng</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex align-items-center">

                                            <img style="width: 20px; height: 20px" src="~/assetsKH/icon/icon-love1-removebg.png" />
                                            <span style="margin-left: 10px;" class="mm-text">
                                                Yêu thích
                                            </span>
                                        </a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#" class="d-flex align-items-center">
                                            <img style="width: 20px; height: 20px" src="~/assetsKH/icon/icon-contact.png" />
                                            <span class="mm-text" style="margin-left:10px">
                                                Liên hệ
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offcanvas-search_wrapper" id="searchBar">
                <div class="harmic-offcanvas-body ">
                    <div class="container h-100">
                        <div class="offcanvas-search">
                            <div class="harmic-offcanvas-top">
                                <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                            </div>
                            <span class="searchbox-info">Start typing and press Enter to search</span>
                            <form action="#" class="hm-searchbox">
                                <input type="text" placeholder="Search">
                                <button class="search-btn" type="submit"><i class="pe-7s-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="global-overlay"></div>
        </header>
        <!-- Main Header Area End Here -->
        <!-- Begin Slider Area -->
        <div class="slider-area">

            <!-- Main Slider -->
            <div class="swiper-container main-slider swiper-arrow with-bg_white">
                <div class="swiper-wrapper">
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner bg-height" data-bg-image="assetsKH/images/slider/bg/1-1.jpg">
                            <div class="parallax-img-wrap">
                                <div class="chilly">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.2">
                                            <img src="assetsKH/images/slider/inner-img/1-1-231x210.png" alt="Inner Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="avocado">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.5">
                                            <img src="~/assetsKH/images/slider/inner-img/1-2-224x204.png" alt="Inner Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="parallax-with-content">
                                    <div class="slide-content">
                                        <span class="sub-title mb-3">Đa dạng & Phong phú</span>
                                        <h3 class="title mb-9">Đảm bảo chất lượng.</h3>
                                    </div>
                                    <div class="parallax-img-wrap">
                                        <div class="tomatoes">
                                            <div class="scene fill">
                                                <div class="expand-width" data-depth="0.5">
                                                    <img src="~/assetsKH/images/slider/inner-img/1-3-601x534.png" alt="Inner Image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner bg-height" data-bg-image="assetsKH/images/slider/bg/1-1.jpg">
                            <div class="parallax-img-wrap">
                                <div class="chilly">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.2">
                                            <img src="~/assetsKH/images/slider/inner-img/1-1-231x210.png" alt="Inner Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="avocado">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.5">
                                            <img src="~/assetsKH/images/slider/inner-img/1-2-224x204.png" alt="Inner Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="parallax-with-content">
                                    <div class="slide-content">
                                        <span class="sub-title mb-3">Uy tín & Chất lượng</span>
                                        <h2 class="title mb-9">Miễn phí tin đăng<br> đầu tiên.</h2>
                                    </div>
                                    <div class="parallax-img-wrap">
                                        <div class="tomatoes">
                                            <div class="scene fill">
                                                <div class="expand-width" data-depth="0.5">
                                                    <img src="~/assetsKH/images/slider/inner-img/2-1-601x426.png" alt="Inner Image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination with-bg d-md-none"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <!-- Slider Area End Here -->
        <!-- Begin Shipping Area -->
        @{ if (ViewBag.HiddenLayOut != 1)
            {
                <div class="shipping-area section-space-top-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="shipping-item">
                                    <div class="shipping-img">
                                        <img src="~/assetsKH/images/shipping/icon/plane.png" alt="Shipping Icon">
                                    </div>
                                    <div class="shipping-content">
                                        <h5 class="title">Free Shipping</h5>
                                        <p class="short-desc mb-0">Free Home Delivery Offer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                                <div class="shipping-item">
                                    <div class="shipping-img">
                                        <img src="~/assetsKH/images/shipping/icon/earphones.png" alt="Shipping Icon">
                                    </div>
                                    <div class="shipping-content">
                                        <h5 class="title">Online Support</h5>
                                        <p class="short-desc mb-0">24/7 Online Support Provide</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                                <div class="shipping-item">
                                    <div class="shipping-img">
                                        <img src="~/assetsKH/images/shipping/icon/shield.png" alt="Shipping Icon">
                                    </div>
                                    <div class="shipping-content">
                                        <h5 class="title">Secure Payment</h5>
                                        <p class="short-desc mb-0">Fully Secure Payment System</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        <!-- Shipping Area End Here -->
        <!-- Begin Product Area -->
        <div class="product-area section-space-top-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Area End Here -->
        <!-- Begin Banner Area -->
        <!-- Banner Area End Here -->
        <!-- Begin Product Area -->
        <!-- Product Area End Here -->
        <!-- Begin Banner Area -->
        <!-- Banner Area End Here -->
        <!-- Begin Product Area -->
        <div class="product-area section-space-top-100">
            <div class="container">
                <div class="section-title text-center pb-55">
                    @*<span class="sub-title text-primary">Tin có nhiều lượt xem</span>*@
                    <h2 class="title mb-0">Tin có nhiều lượt xem</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="swiper-container product-list-slider border-issue">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-list-item">
                                        <div class="product-img img-zoom-effect">
                                            <a href="single-product.html">
                                                <img class="img-full" src="~/assetsKH/images/product/small-size/1-1-112x124.jpg" alt="Product Images">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <a class="product-name" href="single-product.html">Black Pepper Grains</a>
                                            <div class="price-box pb-1">
                                                <span class="new-price">$80.00</span>
                                            </div>
                                            <div class="rating-box-wrap">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="product-add-action">
                                                    <ul>
                                                        <li>
                                                            <a href="cart.html">
                                                                <i class="pe-7s-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-list-item">
                                        <div class="product-img img-zoom-effect">
                                            <a href="single-product.html">
                                                <img class="img-full" src="~/assetsKH/images/product/small-size/1-2-112x124.jpg" alt="Product Images">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <a class="product-name" href="single-product.html">Peanut Big Bean</a>
                                            <div class="price-box pb-1">
                                                <span class="new-price">$80.00</span>
                                            </div>
                                            <div class="rating-box-wrap">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="product-add-action">
                                                    <ul>
                                                        <li>
                                                            <a href="cart.html">
                                                                <i class="pe-7s-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-list-item">
                                        <div class="product-img img-zoom-effect">
                                            <a href="single-product.html">
                                                <img class="img-full" src="~/assetsKH/images/product/small-size/1-3-112x124.jpg" alt="Product Images">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <a class="product-name" href="single-product.html">Dried Lemon Green</a>
                                            <div class="price-box pb-1">
                                                <span class="new-price">$80.00</span>
                                            </div>
                                            <div class="rating-box-wrap">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="product-add-action">
                                                    <ul>
                                                        <li>
                                                            <a href="cart.html">
                                                                <i class="pe-7s-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-list-item">
                                        <div class="product-img img-zoom-effect">
                                            <a href="single-product.html">
                                                <img class="img-full" src="~/assetsKH/images/product/small-size/1-4-112x124.jpg" alt="Product Images">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <a class="product-name" href="single-product.html">Natural Coconut</a>
                                            <div class="price-box pb-1">
                                                <span class="new-price">$80.00</span>
                                            </div>
                                            <div class="rating-box-wrap">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="product-add-action">
                                                    <ul>
                                                        <li>
                                                            <a href="cart.html">
                                                                <i class="pe-7s-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-list-item">
                                        <div class="product-img img-zoom-effect">
                                            <a href="single-product.html">
                                                <img class="img-full" src="~/assetsKH/images/product/small-size/1-5-112x124.jpg" alt="Product Images">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <a class="product-name" href="single-product.html">Black Peppepr Read</a>
                                            <div class="price-box pb-1">
                                                <span class="new-price">$80.00</span>
                                            </div>
                                            <div class="rating-box-wrap">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="product-add-action">
                                                    <ul>
                                                        <li>
                                                            <a href="cart.html">
                                                                <i class="pe-7s-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-list-item">
                                        <div class="product-img img-zoom-effect">
                                            <a href="single-product.html">
                                                <img class="img-full" src="~/assetsKH/images/product/small-size/1-6-112x124.jpg" alt="Product Images">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <a class="product-name" href="single-product.html">Green Vegetable</a>
                                            <div class="price-box pb-1">
                                                <span class="new-price">$80.00</span>
                                            </div>
                                            <div class="rating-box-wrap">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="product-add-action">
                                                    <ul>
                                                        <li>
                                                            <a href="cart.html">
                                                                <i class="pe-7s-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Area End Here -->
        <!-- Begin Blog Area -->
        @if (ViewBag.HiddenLayOut != 1)
        {
            <div class="blog-area section-space-y-axis-100">
                <div class="container">
                    <div class="section-title text-center pb-55">
                        @*<span class="sub-title text-primary">Các</span>*@
                        <h2 class="title mb-0">Tin mới</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="swiper-container blog-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="blog-item">
                                            <div class="blog-img img-zoom-effect">
                                                <a href="blog-detail-left-sidebar.html">
                                                    <img class="img-full" src="~/assetsKH/images/blog/medium-size/1-1-370x315.jpg" alt="Blog Image">
                                                </a>
                                            </div>
                                            <div class="blog-content">
                                                <div class="blog-meta text-dim-gray pb-3">
                                                    <ul>
                                                        <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                                        <li>
                                                            <span class="comments me-3">
                                                                <a href="javascript:void(0)">2 Comments</a>
                                                            </span>
                                                            <span class="link-share">
                                                                <a href="javascript:void(0)">Share</a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h5 class="title mb-4">
                                                    <a href="blog-detail-left-sidebar.html">Lorem ipsum dolor consec adipisicing elit</a>
                                                </h5>
                                                <p class="short-desc mb-5">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor incididunt ut labore gthydolore magna aliqua.</p>
                                                <div class="button-wrap">
                                                    <a class="btn btn-custom-size btn-dark btn-lg rounded-0" href="blog-detail-left-sidebar.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="blog-item">
                                            <div class="blog-img img-zoom-effect">
                                                <a href="blog-detail-left-sidebar.html">
                                                    <img class="img-full" src="~/assetsKH/images/blog/medium-size/1-2-370x315.jpg" alt="Blog Image">
                                                </a>
                                            </div>
                                            <div class="blog-content">
                                                <div class="blog-meta text-dim-gray pb-3">
                                                    <ul>
                                                        <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                                        <li>
                                                            <span class="comments me-3">
                                                                <a href="javascript:void(0)">2 Comments</a>
                                                            </span>
                                                            <span class="link-share">
                                                                <a href="javascript:void(0)">Share</a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h5 class="title mb-4">
                                                    <a href="blog-detail-left-sidebar.html">Voluptate minus temporibus nostrum adipi</a>
                                                </h5>
                                                <p class="short-desc mb-5">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor incididunt ut labore gthydolore magna aliqua.</p>
                                                <div class="button-wrap">
                                                    <a class="btn btn-custom-size btn-dark btn-lg rounded-0" href="blog-detail-left-sidebar.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="blog-item">
                                            <div class="blog-img img-zoom-effect">
                                                <a href="blog-detail-left-sidebar.html">
                                                    <img class="img-full" src="~/assetsKH/images/blog/medium-size/1-3-370x315.jpg" alt="Blog Image">
                                                </a>
                                            </div>
                                            <div class="blog-content">
                                                <div class="blog-meta text-dim-gray pb-3">
                                                    <ul>
                                                        <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                                        <li>
                                                            <span class="comments me-3">
                                                                <a href="javascript:void(0)">2 Comments</a>
                                                            </span>
                                                            <span class="link-share">
                                                                <a href="javascript:void(0)">Share</a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h5 class="title mb-4">
                                                    <a href="blog-detail-left-sidebar.html">Corporis tempora molestiae nulla esse ipsam</a>
                                                </h5>
                                                <p class="short-desc mb-5">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor incididunt ut labore gthydolore magna aliqua.</p>
                                                <div class="button-wrap">
                                                    <a class="btn btn-custom-size btn-dark btn-lg rounded-0" href="blog-detail-left-sidebar.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- Blog Area End Here -->
        <!-- Begin Footer Area -->
        <div class="footer-area">
            <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="widget-item">
                                <div class="footer-logo pb-4">
                                    <a href="index.html">
                                        <img src="~/assetsKH/images/logo/dark.png" alt="Logo">
                                    </a>
                                </div>
                                <p class="short-desc mb-2">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor incididun ut labore gthydolore. </p>
                                <div class="widget-contact-info pb-6">
                                    <ul>
                                        <li>
                                            <i class="pe-7s-map-marker"></i>
                                            184 Main Rd E, St Albans VIC 3021,
                                        </li>
                                        <li>
                                            <i class="pe-7s-mail"></i>
                                            <a href="mailto://info@example.com">info@example.com</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="payment-method">
                                    <a href="javascript:void(0)">
                                        <img src="~/assetsKH/images/payment/1.png" alt="Payment Method">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                            <div class="widget-item">
                                <h3 class="widget-title mb-5">Information</h3>
                                <ul class="widget-list-item">
                                    <li>
                                        <a href="javascript:void(0)">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Shipping</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Returns</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Order Status</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Gift Card Balance</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Accessibility</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                            <div class="widget-item">
                                <h3 class="widget-title mb-5">My Account</h3>
                                <ul class="widget-list-item">
                                    <li>
                                        <a href="javascript:void(0)">My Account</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Checkout</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Validation</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Wishlist</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Terms of Use</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">FAQ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
                            <div class="widget-item">
                                <h3 class="widget-title mb-5">Newsletters</h3>
                                <p class="short-desc">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor.</p>
                            </div>
                            <div class="widget-form-area">
                                <form class="widget-form" action="#">
                                    <input class="input-field" type="email" autocomplete="off" placeholder="Your Email">
                                    <div class="button-wrap pt-5">
                                        <button class="btn btn-custom-size btn-primary btn-secondary-hover rounded-0" id="mc-submit">Send Mail</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom py-3" data-bg-color="#bac34e">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright">
                                <span class="copyright-text text-white">© 2021 Harmic Made with <i class="fa fa-heart text-danger"></i> by  <a href="https://hasthemes.com/" target="_blank">HasThemes</a> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Area End Here -->
        <!-- Begin Scroll To Top -->
        <a class="scroll-to-top" href="">
            <i class="fa fa-chevron-up"></i>
        </a>
        <!-- Scroll To Top End Here -->
    </div>

    <!-- Global Vendor, plugins JS -->
    <!-- JS Files
    ============================================ -->
    <!-- Global Vendor, plugins JS -->
    <!-- Vendor JS -->
    <script src="~/assetsKH/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/assetsKH/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="~/assetsKH/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/assetsKH/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="~/assetsKH/js/vendor/jquery.waypoints.js"></script>

    <!--Plugins JS-->
    <script src="~/assetsKH/js/plugins/wow.min.js"></script>
    <script src="~/assetsKH/js/plugins/jquery-ui.min.js"></script>
    <script src="~/assetsKH/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/assetsKH/js/plugins/jquery.nice-select.js"></script>
    <script src="~/assetsKH/js/plugins/parallax.min.js"></script>
    <script src="~/assetsKH/js/plugins/jquery.magnific-popup.min.js"></script>

    <!--Main JS (Common Activation Codes)-->
    <script src="~/assetsKH/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>